body {
  margin: 0;
  background: #d5c88370;
  font-family: sans-serif;
  text-align: center;
}

#toolbar {
  background: #ddd;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
}

button {
  font-size: 1.2em;
  margin: 0 5px;
  padding: 10px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 8px;
}

canvas {
  background: #d5c88370;
  border: 2px solid #000;
  touch-action: none;
  margin-top: 10px;
}
